@model HomePageModel
@{
    ViewData["Title"] = "Index";
}






<div class="container-fluid layout-8">








    <!-- Home Slider -->
    <section class="pt-0 padding-bottom-cls">
        @foreach (var cat in Model.lstSliderCategories)
        {
            <div class="slide-1 home-slider">
                @foreach (var slider in Model.lstSliderImages.Where(a => a.CatSliderId == cat.CatSliderId))
                {
                    <div>
                        <div class="home">

                            <img src="@string.Format("/Slider/{0}", slider.ImageName)" class="bg-img blur-up lazyload">


                        </div>
                    </div>
                }


            </div>
        }


    </section>
    <!-- Home slider end -->




    <div class="layout-8-bg">



        <!-- slider tab  -->
        <section class="section-b-space ratio_square">
            <div class="container-fluid">
                <div class="title2">
                    <h4>new collection</h4>
                    <h2 class="title-inner2">trending products</h2>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="theme-tab layout7-product">
                            <ul class="tabs tab-title">

                                @foreach (var cat in Model.lstCategories)
                                {

                                    <li class="current"><a href="@string.Format("tab-1{0}",@cat.Category.CategoryName)">@cat.Category.CategoryName </a></li>

                                }
                            </ul>

                        </div>
                        <div class="row">
                            <div class="col">

                                <div class="tab-content-cls">
                                    @foreach (var cat in Model.lstCategories)
                                    {
                                        <div id="@string.Format("tab-1{0}",@cat.Category.CategoryName)" class="tab-content active default">
                                            <div class="row no-slider">

                                                @foreach (var item in Model.lstAllItems.Where(a => a.CategoryId == cat.CategoryId))
                                                {
                                                    <partial name="_Item" model="@item" />
                                                    @*<div class="product-box">
                                            <div class="img-wrapper">
                                            <div class="front">
                                            <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId">
                                            <img src="@string.Format("/Uploads/{0}", item.ImageName)"
                                            class="img-fluid blur-up lazyload bg-img" alt="">
                                            </a>
                                            </div>
                                            <div class="cart-info cart-wrap">
                                            <a asp-controller="Items" asp-action="AddToCart" asp-route-Id="@item.ItemId"
                                            title="Add to cart">
                                            <i class="ti-shopping-cart"></i>
                                            </a>
                                            <a href="javascript:void(0)" title="Add to Wishlist">
                                            <i class="ti-heart" aria-hidden="true"></i>
                                            </a>
                                            <a href="#"
                                            data-toggle="modal" data-target="#quick-view"
                                            title="Quick View">
                                            <i class="ti-search"
                                            aria-hidden="true"></i>
                                            </a>
                                            <a href="compare.html"
                                            title="Compare">
                                            <i class="ti-reload"
                                            aria-hidden="true"></i>
                                            </a>
                                            </div>
                                            </div>
                                            <div class="details-product">
                                            <a href="product-page(no-sidebar).html">
                                            <h6>@item.ItemName</h6>
                                            </a>
                                            <h4>@item.SalesPrice</h4>
                                            </div>
                                            </div>*@
                                                }

                                            </div>
                                        </div>
                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </section>
        <!-- slider tab end -->


    </div>
</div>







